<a href="https://colab.research.google.com/github/triatebr/aprenda-python/blob/master/open_data_IBAMA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logos](https://mundogeo.com/wp-content/uploads/2014/01/Plataforma-Dados-Abertos.jpg)

Hoje 13.03 teremos contato com os conceitos/prática de **Dados Abertos** e realizaremos uma análise exploratória usando comandos do **Python** via [Colab.research](https://colab.research.google.com/notebooks/welcome.ipynb)

Para tanto usaremos conceitos de **Dataframe!?!?!** <p>
  Peraí, data? O que?

**Estruturas de dados no Pandas** <p>
**Séries :**<p>
Uma matriz uni-dimensional capaz de conter qualquer tipo de dado<p>
s = pd.Series([3, -5, 7, 4], index=[‘a’, ‘b’, ‘c’, ‘d’])<p>
  
![alt text](https://www.vooo.pro/insights/wp-content/uploads/2018/01/pandas1.png)
  
**Frame de dados (Data frame) :**<p>
Uma estrutura de dados bi-dimensional com colunas de diferentes tipos<p>

data = {‘País’: [‘Portugal’, ‘Peru’, ‘Chile’], ‘Capital’: [‘Lisboa’, ‘Lima’, ‘Santiago’], ‘População’: [751000, 1120000, 695000]}<p>
df = pd.DataFrame(data, columns=[‘País’, ‘Capital’, ‘População’])<p>
  
![alt text](https://www.vooo.pro/insights/wp-content/uploads/2018/01/pandas2.png)
  
[fonte](https://www.vooo.pro/insights/guia-de-acesso-rapido-ao-pandas/)

**IBAMA - Instituto do Meio Ambiente e dos Recursos Naturais Renováveis**<p>
![logos](http://www.memora.com.br/wp-content/uploads/2017/03/ibama-banner.png)<p>

> [Fonte: dados.gov.br](http://dados.gov.br/dataset/autos-de-infracao)

**Dicionário de Dados**<p>
![logos](https://d1nhio0ox7pgb.cloudfront.net/_img/i_collection_png/256x256/plain/dictionary.png)<p>
**SEQ_AUTO_INFRACAO** - Chave primária (número sequencial) que identifica o auto de infração<p>
**NUM_AUTO_INFRACAO** - Número impresso no formulário que compõe a identificação do documento juntamente com a série do auto<p>
**SER_AUTO_INFRACAO** - Caractere impresso no formulário que compõe a identificação do documento juntamente com o número do auto<p>
**TIPO_AUTO** - Tipo de sanção proposta no auto: multa simples; multa diária; advertência (sem sanção pecuniária)<p>
**TIPO_MULTA** - Especifica se o dispositivo legal da multa aplicada prevê um valor fixo por unidade (multa fechada) ou se há uma faixa de valores aplicável dependendo da capacidade econômica do infrator e gravidade da infração (multa aberta)<p>
**VAL_AUTO_INFRACAO** - Valor de multa indicado inicialmente pelo agente ambiental<p>
**PATRIMONIO_APURACAO** - Forma de apuração do patrimônio da pessoa física ou porte de pessoa jurídica autuada (capacidade aparente ou patrimônio comprovado)<p>
  
> [Link:](http://dados.gov.br/dataset/autos-de-infracao/resource/651feed4-cacb-4316-9353-49f571875fb6)

In [0]:
# instalar libraries para uso no Python3
pip install pandas
pip install seaborn
pip install numpy

In [0]:
# importar library pandas
import pandas as pd
import re
import seaborn as sns
import numpy as np
url = 'http://dadosabertos.ibama.gov.br/dados/SIFISC/auto_infracao/auto_infracao/auto_infracao.csv'

In [21]:
# leitura do csv usando o link da web
# faz-se necessário o 'encoding ='latin1'' devido ao fato da fonte escolhida possuir caracteres especiais
# usamos o 'delimiter=";"' pela razão de usarem o ';' para separar as colunas
df=pd.read_csv(url,encoding ='latin1', delimiter=";")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6,7,16,22,24,26,27,30,33,34,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
# visualização das 5 primeiras linhas do dataframe, mas caso prefira mais linhas, insira o numero entre os '()'
# sempre que nos refereciarmos ao Dataframe usaremos o 'df'
df.head()

,SEQ_AUTO_INFRACAO,NUM_AUTO_INFRACAO,SER_AUTO_INFRACAO,TIPO_AUTO,TIPO_MULTA,VAL_AUTO_INFRACAO,PATRIMONIO_APURACAO,GRAVIDADE_INFRACAO,UNID_ARRECADACAO,DES_AUTO_INFRACAO,...,UNID_CONTROLE,TIPO_ACAO,OPERACAO,DENUNCIA_SISLIV,ORDEM_FISCALIZACAO,SOLICITACAO_RECURSO,OPERACAO_SOL_RECURSO,DAT_LANCAMENTO,DAT_ULT_ALTERACAO,TIPO_ULT_ALTERACAO
0,509,541249,D,Multa simples,Fechada,1500,NaN,NaN,BCG/GEREX,EXTRAIR MINERAIS (DIAMANTE) DO LEITO DO RIO AR...,...,BCG/GEREX,Rotina,NaN,NaN,NaN,NaN,NaN,17/10/2005 18:38:02,22/04/2013 23:32:56,Preenchido
1,514,541254,D,Multa simples,NaN,900,NaN,NaN,BCG/GEREX,TRANSPORTAR 20 KG DE PESCADO (PINTADO E TUCUNA...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/10/2005 18:38:02,22/11/2006 18:25:08,Preenchido
2,522,541262,D,Multa simples,NaN,"20845,9",NaN,NaN,BCG/GEREX,"VENDER 208,459MÂ³ DE MADEIRA LAMINADA (AMESCLA...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/10/2005 18:38:02,24/11/2006 10:15:48,Preenchido
3,523,541263,D,Multa simples,NaN,5510,NaN,NaN,BCG/GEREX,"VENDER 55,100MÂ³ DE MADEIRA EM LAMINA, COM ATP...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/10/2005 18:38:02,24/11/2006 09:28:51,Preenchido
4,533,541273,D,Multa simples,NaN,88700,NaN,NaN,BCG/GEREX,"VENDER 887,000MDC DE CARVAO VEGETAL SEM ATPF, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/10/2005 18:38:03,28/11/2006 10:50:48,Preenchido

In [23]:
# após a importação e visualização, como serão as colunas e características do nosso Dataframe?
df.dtypes

SEQ_AUTO_INFRACAO           int64
NUM_AUTO_INFRACAO           int64
SER_AUTO_INFRACAO          object
TIPO_AUTO                  object
TIPO_MULTA                 object
VAL_AUTO_INFRACAO          object
PATRIMONIO_APURACAO        object
GRAVIDADE_INFRACAO         object
UNID_ARRECADACAO           object
DES_AUTO_INFRACAO          object
DAT_HORA_AUTO_INFRACAO     object
FORMA_ENTREGA              object
DAT_CIENCIA_AUTUACAO       object
COD_MUNICIPIO             float64
MUNICIPIO                  object
UF                         object
NUM_PROCESSO               object
COD_INFRACAO              float64
DES_INFRACAO               object
TIPO_INFRACAO              object
NOME_INFRATOR              object
CPF_CNPJ_INFRATOR          object
QTD_AREA                   object
INFRACAO_AREA              object
DES_OUTROS_TIPO_AREA       object
CLASSIFICACAO_AREA         object
NUM_LATITUDE_AUTO          object
NUM_LONGITUDE_AUTO         object
DES_LOCAL_INFRACAO         object
NOTIFICACAO_VINCULADA      object
ACAO_FISCALIZATORIA        object
UNID_CONTROLE              object
TIPO_ACAO                  object
OPERACAO                   object
DENUNCIA_SISLIV            object
ORDEM_FISCALIZACAO         object
SOLICITACAO_RECURSO       float64
OPERACAO_SOL_RECURSO       object
DAT_LANCAMENTO             object
DAT_ULT_ALTERACAO          object
TIPO_ULT_ALTERACAO         object
dtype: object

In [24]:
# agora se vc precisar de um subconjunto? Nada muito complicado
# lembrando que o o conjunto no Python começa sempre no 0 (zero), nesse caso selecionamos as 3 primeiras linhas
df[:3]

,SEQ_AUTO_INFRACAO,NUM_AUTO_INFRACAO,SER_AUTO_INFRACAO,TIPO_AUTO,TIPO_MULTA,VAL_AUTO_INFRACAO,PATRIMONIO_APURACAO,GRAVIDADE_INFRACAO,UNID_ARRECADACAO,DES_AUTO_INFRACAO,...,UNID_CONTROLE,TIPO_ACAO,OPERACAO,DENUNCIA_SISLIV,ORDEM_FISCALIZACAO,SOLICITACAO_RECURSO,OPERACAO_SOL_RECURSO,DAT_LANCAMENTO,DAT_ULT_ALTERACAO,TIPO_ULT_ALTERACAO
0,509,541249,D,Multa simples,Fechada,1500,NaN,NaN,BCG/GEREX,EXTRAIR MINERAIS (DIAMANTE) DO LEITO DO RIO AR...,...,BCG/GEREX,Rotina,NaN,NaN,NaN,NaN,NaN,17/10/2005 18:38:02,22/04/2013 23:32:56,Preenchido
1,514,541254,D,Multa simples,NaN,900,NaN,NaN,BCG/GEREX,TRANSPORTAR 20 KG DE PESCADO (PINTADO E TUCUNA...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/10/2005 18:38:02,22/11/2006 18:25:08,Preenchido
2,522,541262,D,Multa simples,NaN,"20845,9",NaN,NaN,BCG/GEREX,"VENDER 208,459MÂ³ DE MADEIRA LAMINADA (AMESCLA...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/10/2005 18:38:02,24/11/2006 10:15:48,Preenchido

In [25]:
# também é possivel, visualizar da 3ª linha até a 6ª sem maiores dificuldades
df[3:6]

,SEQ_AUTO_INFRACAO,NUM_AUTO_INFRACAO,SER_AUTO_INFRACAO,TIPO_AUTO,TIPO_MULTA,VAL_AUTO_INFRACAO,PATRIMONIO_APURACAO,GRAVIDADE_INFRACAO,UNID_ARRECADACAO,DES_AUTO_INFRACAO,...,UNID_CONTROLE,TIPO_ACAO,OPERACAO,DENUNCIA_SISLIV,ORDEM_FISCALIZACAO,SOLICITACAO_RECURSO,OPERACAO_SOL_RECURSO,DAT_LANCAMENTO,DAT_ULT_ALTERACAO,TIPO_ULT_ALTERACAO
3,523,541263,D,Multa simples,NaN,5510,NaN,NaN,BCG/GEREX,"VENDER 55,100MÂ³ DE MADEIRA EM LAMINA, COM ATP...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/10/2005 18:38:02,24/11/2006 09:28:51,Preenchido
4,533,541273,D,Multa simples,NaN,88700,NaN,NaN,BCG/GEREX,"VENDER 887,000MDC DE CARVAO VEGETAL SEM ATPF, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/10/2005 18:38:03,28/11/2006 10:50:48,Preenchido
5,534,541274,D,Multa simples,NaN,3000,NaN,NaN,BCG/GEREX,TRANSPORTAR 05 TATUS (05 KG) E 01 JACARE (05 KG).,...,BCG/GEREX,NaN,NaN,NaN,NaN,NaN,NaN,17/10/2005 18:38:03,02/04/2007 09:53:24,Alterado

**VALORES AUSENTES**

In [49]:
# normalmente os dataframes podem conter 'dados ausentes', vamos avaliar a existẽncia dos mesmos
# depois vamos analisar se todos são relevantes para nossa análise
df.apply(lambda x: sum(x.isnull()),axis=0)

SEQ_AUTO_INFRACAO              0
NUM_AUTO_INFRACAO              0
SER_AUTO_INFRACAO             11
TIPO_AUTO                      1
TIPO_MULTA                673834
VAL_AUTO_INFRACAO          10147
PATRIMONIO_APURACAO       746597
GRAVIDADE_INFRACAO        742126
UNID_ARRECADACAO          168389
DES_AUTO_INFRACAO         176088
DAT_HORA_AUTO_INFRACAO    161408
FORMA_ENTREGA             641675
DAT_CIENCIA_AUTUACAO      421422
COD_MUNICIPIO             161667
MUNICIPIO                 161667
UF                        161667
NUM_PROCESSO               12615
COD_INFRACAO                   7
DES_INFRACAO                   7
TIPO_INFRACAO                  7
NOME_INFRATOR                256
CPF_CNPJ_INFRATOR          90430
QTD_AREA                  717707
INFRACAO_AREA             660690
DES_OUTROS_TIPO_AREA      749189
CLASSIFICACAO_AREA        647375
NUM_LATITUDE_AUTO         566309
NUM_LONGITUDE_AUTO        565575
DES_LOCAL_INFRACAO        642571
NOTIFICACAO_VINCULADA     736676
ACAO_FISCALIZATORIA       671348
UNID_CONTROLE              97817
TIPO_ACAO                 625905
OPERACAO                  717422
DENUNCIA_SISLIV           749142
ORDEM_FISCALIZACAO        657896
SOLICITACAO_RECURSO       734787
OPERACAO_SOL_RECURSO      734787
DAT_LANCAMENTO            161796
DAT_ULT_ALTERACAO         166177
TIPO_ULT_ALTERACAO        166177
dtype: int64

**DELETAR COLUNAS**<p>
Vamos eliminar algumas colunas que achamos não tão necessárias assim<p>
Colunas escolhidas:<p>
  - NOTIFICACAO_VINCULADA<p>
  - ACAO_FISCALIZATORIA<p>
  - DES_OUTROS_TIPO_AREA<p>
  - OPERACAO_SOL_RECURSO<p>

In [0]:
#sintaxe simples e fácil de ser processada, sempre declarando as COLUNAS dentro de '' (aspas simples)
df.drop(['NOTIFICACAO_VINCULADA','ACAO_FISCALIZATORIA','DES_OUTROS_TIPO_AREA','OPERACAO_SOL_RECURSO'], axis = 1, inplace = True)

In [53]:
# verificando como está o df após o delete
df.head()

,SEQ_AUTO_INFRACAO,NUM_AUTO_INFRACAO,SER_AUTO_INFRACAO,TIPO_AUTO,TIPO_MULTA,VAL_AUTO_INFRACAO,PATRIMONIO_APURACAO,GRAVIDADE_INFRACAO,UNID_ARRECADACAO,DES_AUTO_INFRACAO,...,DES_LOCAL_INFRACAO,UNID_CONTROLE,TIPO_ACAO,OPERACAO,DENUNCIA_SISLIV,ORDEM_FISCALIZACAO,SOLICITACAO_RECURSO,DAT_LANCAMENTO,DAT_ULT_ALTERACAO,TIPO_ULT_ALTERACAO
0,509,541249,D,Multa simples,Fechada,1500,NaN,NaN,BCG/GEREX,EXTRAIR MINERAIS (DIAMANTE) DO LEITO DO RIO AR...,...,NaN,BCG/GEREX,Rotina,NaN,NaN,NaN,NaN,17/10/2005 18:38:02,22/04/2013 23:32:56,Preenchido
1,514,541254,D,Multa simples,NaN,900,NaN,NaN,BCG/GEREX,TRANSPORTAR 20 KG DE PESCADO (PINTADO E TUCUNA...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/10/2005 18:38:02,22/11/2006 18:25:08,Preenchido
2,522,541262,D,Multa simples,NaN,"20845,9",NaN,NaN,BCG/GEREX,"VENDER 208,459MÂ³ DE MADEIRA LAMINADA (AMESCLA...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/10/2005 18:38:02,24/11/2006 10:15:48,Preenchido
3,523,541263,D,Multa simples,NaN,5510,NaN,NaN,BCG/GEREX,"VENDER 55,100MÂ³ DE MADEIRA EM LAMINA, COM ATP...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/10/2005 18:38:02,24/11/2006 09:28:51,Preenchido
4,533,541273,D,Multa simples,NaN,88700,NaN,NaN,BCG/GEREX,"VENDER 887,000MDC DE CARVAO VEGETAL SEM ATPF, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/10/2005 18:38:03,28/11/2006 10:50:48,Preenchido

**TIPO_AUTO**

In [55]:
# vamos analisar a informação TIPO_AUTO
# levantando todos os valores unicos da mesma
df['TIPO_AUTO'].unique()

array(['Multa simples', 'Advertncia', 'Multa diria', '---'], dtype=object)

In [0]:
# tratamento o conteúdo 'NaN' (valores ausentes), vamos adotar o '---' para os mesmos
df['TIPO_AUTO'].fillna('---', inplace=True)

In [57]:
# depois vamos agrupar por cada item encontrado logo acima
# nota-se que o '---' possuí apenas 1 registro
df['TIPO_AUTO'].value_counts()

Multa simples    737003
Advertncia        12091
Multa diria         174
---                   1
Name: TIPO_AUTO, dtype: int64

**TIPO MULTA**

In [58]:
# veremos agora sobre o TIPO_MULTA
# levantando todos os valores unicos da mesma
df['TIPO_MULTA'].unique()

array(['Fechada', nan, 'Aberta'], dtype=object)

In [0]:
# tratamento o conteúdo 'NaN' (valores ausentes), vamos adotar o '---' para os mesmos
df['TIPO_MULTA'].fillna('---', inplace=True)

In [60]:
# bora agrupar
# repara-se agora que há muitos registros sem TIPO_MULTA, estranho neh!
df['TIPO_MULTA'].value_counts()

---        673834
Fechada     58862
Aberta      16573
Name: TIPO_MULTA, dtype: int64