In [3]:
#https://medium.com/datadriveninvestor/visualising-geospatial-data-with-python-d3b1c519f31
import pandas as pd
import folium

In [2]:
!pip install folium

Collecting folium
  Downloading https://files.pythonhosted.org/packages/55/e2/7e523df8558b7f4b2ab4c62014fd378ccecce3fdc14c9928b272a88ae4cc/folium-0.7.0-py3-none-any.whl (85kB)
    100% |████████████████████████████████| 92kB 1.4MB/s ta 0:00:011
Requirement already satisfied: six in ./anaconda3/lib/python3.7/site-packages (from folium) (1.11.0)
Requirement already satisfied: jinja2 in ./anaconda3/lib/python3.7/site-packages (from folium) (2.10)
Collecting branca>=0.3.0 (from folium)
  Downloading https://files.pythonhosted.org/packages/63/36/1c93318e9653f4e414a2e0c3b98fc898b4970e939afeedeee6075dd3b703/branca-0.3.1-py3-none-any.whl
Requirement already satisfied: requests in ./anaconda3/lib/python3.7/site-packages (from folium) (2.19.1)
Requirement already satisfied: numpy in ./anaconda3/lib/python3.7/site-packages (from folium) (1.15.1)
Requirement already satisfied: MarkupSafe>=0.23 in ./anaconda3/lib/python3.7/site-packages (from jinja2->folium) (1.0)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.7/site-packages (from requests->folium) (2018.11.29)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in ./anaconda3/lib/python3.7/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: idna<2.8,>=2.5 in ./anaconda3/lib/python3.7/site-packages (from requests->folium) (2.7)
Requirement already satisfied: urllib3<1.24,>=1.21.1 in ./anaconda3/lib/python3.7/site-packages (from requests->folium) (1.23)
Installing collected packages: branca, folium
Successfully installed branca-0.3.1 folium-0.7.0

In [4]:
country_geo = 'world_development_indicators/world-countries.json'

In [19]:
country_geo='https://raw.githubusercontent.com/parulnith/Visualising-Geospatial-data-with-Python/master/world-countries.json'

In [20]:
data = pd.read_csv('Indicators.csv')
data.shape

(5656458, 6)

In [21]:
data.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

In [22]:
countries = data['CountryName'].unique().tolist()
indicators = data['IndicatorName'].unique().tolist()
print(len(countries))
print(len(indicators))

247
1344

In [23]:
data['IndicatorName'][:25]

0     Adolescent fertility rate (births per 1,000 wo...
1     Age dependency ratio (% of working-age populat...
2     Age dependency ratio, old (% of working-age po...
3     Age dependency ratio, young (% of working-age ...
4           Arms exports (SIPRI trend indicator values)
5           Arms imports (SIPRI trend indicator values)
6                  Birth rate, crude (per 1,000 people)
7                                    CO2 emissions (kt)
8                CO2 emissions (metric tons per capita)
9     CO2 emissions from gaseous fuel consumption (%...
10    CO2 emissions from liquid fuel consumption (% ...
11      CO2 emissions from liquid fuel consumption (kt)
12    CO2 emissions from solid fuel consumption (% o...
13                 Death rate, crude (per 1,000 people)
14             Fertility rate, total (births per woman)
15                        Fixed telephone subscriptions
16       Fixed telephone subscriptions (per 100 people)
17                     Hospital beds (per 1,000 people)
18        International migrant stock (% of population)
19                   International migrant stock, total
20             Life expectancy at birth, female (years)
21               Life expectancy at birth, male (years)
22              Life expectancy at birth, total (years)
23                    Merchandise exports (current US$)
24    Merchandise exports by the reporting economy (...
Name: IndicatorName, dtype: object

In [24]:
hist_indicator =  'Life expectancy at birth'
hist_year = 2013
mask1 = data['IndicatorName'].str.contains(hist_indicator) 
mask2 = data['Year'].isin([hist_year])
# apply our mask
stage = data[mask1 & mask2]
stage.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
5377669,Arab World,ARB,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,2013,72.536117
5377670,Arab World,ARB,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,2013,68.848383
5377671,Arab World,ARB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2013,70.631305
5378129,Caribbean small states,CSS,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,2013,74.757382
5378130,Caribbean small states,CSS,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,2013,69.183365

In [25]:
data_to_plot = stage[['CountryCode','Value']]
data_to_plot.head()

        CountryCode      Value
5377669         ARB  72.536117
5377670         ARB  68.848383
5377671         ARB  70.631305
5378129         CSS  74.757382
5378130         CSS  69.183365

In [26]:
hist_indicator = stage.iloc[0]['IndicatorName']

In [27]:
map = folium.Map(location=[100, 0], zoom_start=1.5)

In [28]:
from folium.features import Choropleth

In [29]:
map.choropleth(geo_data=country_geo, data=data_to_plot,
             columns=['CountryCode', 'Value'],
             key_on='feature.id',
             fill_color='YlGnBu', fill_opacity=0.7, line_opacity=0.2,
             legend_name=hist_indicator)

/home/lucas/anaconda3/lib/python3.7/site-packages/folium/folium.py:432: FutureWarning: The choropleth  method has been deprecated. Instead use the new Choropleth class, which has the same arguments. See the example notebook 'GeoJSON_and_choropleth' for how to do this.
  FutureWarning

In [31]:
map.save('plot_data.html')
# Import the Folium interactive html file

In [32]:
from IPython.display import HTML
HTML('<iframe src=plot_data.html width=700 height=450></iframe>')